section {
    padding-top: 30px;
    padding-bottom: 30px;
}


.logo-image {
    max-width: 55px;
    height: auto;
}


.logo-text {
    text-decoration: none;
}


.logo {
    color: red;
    width: 26%;
}

/* teacher page // table block */
.table {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}


th {
    text-align: center;
}


.td_evaluation {
    position: relative;
    min-width: 54px;
    text-align: center;
}

.td_evaluation:hover {
    background-color: #e0e0e0;
    transition: .1s;
}


.input_evaluation {
    max-width: 35px;
    max-height: 40px;
    color: transparent;
    text-shadow: 0 0 0 black;
    text-align: center;
    border-radius: 10px;
}
