section {
    padding-top: 30px;
    padding-bottom: 30px;
}


.logo-image {
    max-width: 55px;
    height: auto;
}


.logo-text {
    text-decoration: none;
}


.logo {
    color: red;
    width: 26%;
}


.image-previe {
    max-height: 490px;
}

/* Registraton page */

.registration_ask {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto 
}

.form_request_form {
    display: flex;
    max-height: 40px;
    
}

.im_r {
    font-size: 27px;
}

.info_log_text {
    padding: 20px;
}


/* q */

.span_quarters {
    font-size: 20px;
    text-align: center;
}

/* teacher page // table block */


/* paginator */


.pagination {
    display: flex;
    width: 100%;
}

.paginator_back_quarter {
    margin-right: 0px;
} 

.paginator_info_quarter {
    text-align: center;
}

.paginator_next_quarter {
    text-align-last: left;
}

.th_name_student {
    white-space: nowrap;
    position: sticky;
    left: 0;
    z-index: 100;
    width: 100%;

}

.average_evaluation {
    position: absolute;
    white-space: nowrap;
    position: sticky;
    right: 0;
}

/* table block */

thead,
tbody {
  display: block;
  position: relative;
}


tbody {
  max-width: 1320px;
  overflow: auto;
}

.table {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}

tr:hover {
    background-color: #e0e0e0;
}


.info_th {
    text-align: center;
    position: sticky;
    top: 0;
    min-width: 70px;
    justify-content: space-between;
}


.td_evaluation {
    text-align: center;
}

.td_evaluation:hover {
    background-color: #6d6a6a;
}

.td_evaluation, .input_evaluation, .th_name_student {
    height: 100%;
    width: 100%;
}

.input_evaluation {
    color: transparent;
    text-shadow: 0 0 0 black;
    text-align: center;
    border-radius: 7px;
}

.input_evaluation::-webkit-outer-spin-button,
.input_evaluation::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_evaluation[type=number] {
  -moz-appearance: textfield;
}

