{% extends "diary/base.html" %}
{% load helper %}


{% block content %}

{% get_now_date as now_date %}

<h1>Homework page</h1>
<h2>home work for {{user.username}}, class {{user.learned_class}}</h2>
<table>
    <tr>
        <th>Предмет</th>
        <th>Домашнее задание</th>
        <th>Задано до</th>
    </tr>
    {% for i in homework %}
        {% if i.date_end_of_homework > now_date %}
            <tr>
                <td>
                    {{i.item}}
                </td>
                <td>
                    {{i.home_work}}
                </td>
                <td>
                    {{ i.date_end_of_homework }}
                </td>
        {% else %}
        {% endif %}
    {% endfor %}
</table>
{% endblock %}