{% extends "diary/base.html" %}
{% load helper %}


{% block content %}
{% get_now_date as now_date %}
<div class="container-lg">
    <div class="homework text-end">
        <a class="btn btn-outline-primary" role="button" href="{% url 'student' request.user.username %}">Оценки</a>
    </div>     
    <section>
        <table class="table">
            <tr>
                <th scope="col">Предмет</th>
                <th scope="col">Домашнее задание</th>
                <th scope="col">Задано до</th>
            </tr>
            {% for i in homework %}
                {% if i.date_end_of_homework > now_date %}
                    <tr>
                        <td>
                            {{i.item}}
                        </td>
                        <td>
                            {{i.home_work}}
                        </td>
                        <td>
                            {{ i.date_end_of_homework }}
                        </td>
                {% else %}
                {% endif %}
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}