{% extends 'diary/base.html' %}
{% load helper %}

{% block title %}Студент: {{ student.username}}{% endblock %}

{% block content %}
<div class="container-lg">

  <div class="homework text-end">
    <a class="btn btn-outline-primary" role="button" href="{% url 'homework' username=request.user.username %}">Домашнее Задание</a>
  </div>

  {% if request.user.is_student == 'teacher' %}
    <div class="user-name-for-teacher">
      <h1>Студент: {{student.last_name}} {{ student.first_name }}, 
                   {{ student.learned_class.number_class }} {{ student.learned_class.name_class }} </h1>
    </div>
  {% endif %}

  <section>
    <div class="quarters">
      {% for i in all_quarter %}
        {% if i.id == request_quarter %}
          <a class="btn btn-info" href="{% url 'student' username=request.user.username %}?quarter={{ i.pk }}">{{ i.name }}</a>
        {% else %}
            <a class="btn btn-dark" href="{% url 'student' username=request.user.username %}?quarter={{ i.pk }}">{{ i.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <div class="student-eval">
    <table class="table">
        <tr>
          <th scope="col">#</th>
          <th class='text-center' scope="col">Оценки</th>
          <th class='average_evaluation' scope="col" >Средний балл</th>
        </tr>
        {% for i in books.items %}
          <tr>
            <td >{{ i.0 }}</td>
            <td class="w-100 text-center">{{ i.1 | to_evaluation_list | join:', '}}</td>
            <td >{{ i.1 | to_evaluation_list | middle_eval }}</td>
          </tr>
        {% endfor %}
    </table>
  </div>
</div>
  

  </table>
</div>
{% endblock %}
