{% extends 'diary/base.html' %}
{% load helper %}

{% block title %}Студент: {{ student.username}}{% endblock %}

{% block content %}
<div class="container-lg">

  <div class="homework text-end">
    <a class="btn btn-outline-primary" role="button" href="{% url 'homework' username=student.username %}">Домашнее Задание</a>
  </div>

  {% if request.user.is_student == 'teacher' %}
    <div class="user-name-for-teacher">
      <h1>Студент: {{student.last_name}} {{ student.first_name }}, 
                   {{ student.learned_class.number_class }} {{ student.learned_class.name_class }} </h1>
    </div>
  {% endif %}

  <div class="student-eval">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Оценки</th>
          <th scope="col" >Средний балл</th>
        </tr>
      </thead>
      </thead>
        {% for i in books %}
          {% get_eval i student.username as evals %}
          <tr>
            <td class="row">{{i.book.book_name}}</td>
            <td>{{ evals |join:', ' }}</td>
            <td>{{ evals | middle_eval }}</td>
          </tr>
        {% endfor %}
      </thead>
    </table>
  </div>
</div>
  

  </table>
</div>
{% endblock %}
