{% extends 'diary/base.html' %}


{% block content %}

<div class="container-lg">
	<section>
		<div class="text-center">
			<h1>Консоль учителя</h1>
		</div>
	</section>

	<section>
		<div class="d-flex flex-row">
			<div class="form-container w-50 ">
				<p class="h1">Создать домашнее задание</p>
				<form method="POST">
					{% csrf_token %}

					{% for i in form_homework %}
					<div class="form-group row">
						<p><label class="col-sm-2 col-form-label w-100 " for="gdfgdf {{i.id_for_label}}">{{i.label}} </label> {{i}} </p>
						<div class="valid-feedback">{{i.errors}}</div>
					</div>
					{% endfor %}
					<button type="submit" class="btn btn-primary">Создать</button>
				</form>
			</div>

			<div class="student-classes text-center top-0 p-1">
				<p class="h1 ">Перейти к классу</p>
				{% for i in model %}
					<a href="{{ i.get_absolute_url }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">{{ i.number_class }}  {{ i.name_class }}</a>
				{% endfor %}
			</div>
		</div>
	</section>
</div>

{% endblock %}